body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(189,137,189);
    background: radial-gradient(circle, rgba(189,137,189,1) 0%, rgba(140,133,167,0.9360119047619048) 49%, rgba(113,153,179,1) 100%);    
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(238,174,238);
    background: radial-gradient(circle, rgba(238,174,238,1) 0%, rgba(194,187,236,0.9360119047619048) 49%, rgba(148,200,233,1) 100%);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: #2e2d2d;
    
}

h2 {
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-shadow: 4px 4px #455a6d;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #bd89bd;
    background-color: #2e2d2d;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}

.reset:hover {
    color: #8c85a7 ;
    background-color: #262809;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 15px;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    /* opacity: 0.85; */
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}